<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../styles/style.css">
</head>
<body>

<section class="cover">
  <img class="cover-image" src="../{{ images.cover }}">
  <div class="cover-text">
    <h1>{{ book.title }}</h1>
    <h2>{{ book.subtitle }}</h2>
    <p>{{ book.location }}</p>
    <p>{{ book.people }}</p>
    <p>{{ book.dates }}</p>
  </div>
</section>

<section class="page">
  <h1>{{ title }}</h1>
  <img class="wide-image" src="../{{ images.welcome }}">
  <div class="content">
    {{ text|safe }}
  </div>
</section>

</body>
</html>
